<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--定义一个bean-->
    <bean class="com.bdqn.bean.Cat" id="cat" />
    <bean class="com.bdqn.bean.Dog" />

    <!--xml声明第三方bean-->
    <bean class="com.alibaba.druid.pool.DruidDataSource" id="dataSource" >
        <property name="username" value="root">

        </property>
    </bean>

</beans>